:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100%;
    background-color: #bebebe;
}

.app-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}
