<div class="container-list">
    <mat-accordion cdkDropList [cdkDropListData]="servers" [cdkDropListConnectedTo]="['deleteZone']"
        (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let server of servers" cdkDrag (cdkDragDropped)="dropOut($event)"
            (cdkDragStarted)="dragInit($event)">
            <mat-expansion-panel-header class="content">
                <mat-panel-title style="align-items: center;">
                    <!-- <app-flag-icon [country]="server.flag"></app-flag-icon> -->
                    <span class="title-server"><strong>{{server.name}}</strong> {{server.ip}}:{{server.port}}</span>
                </mat-panel-title>
                <mat-panel-description style="justify-content: flex-end;">
                    <div class="info-container">
                        <mat-chip-list>
                            <mat-chip color="warn" [selected]="isServerDown(server)">
                                {{!server.state ?'Offline' : 'Online'}}
                                {{server.state?.online}}</mat-chip>
                        </mat-chip-list>
                        <button mat-icon-button color="primary" aria-label="connect" (click)="connect(server)"
                            [disabled]="isConnecting || isConnected || !server.state">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-options [options]="server.options" [disabled]="isConnecting || isConnected"></app-options>
        </mat-expansion-panel>
    </mat-accordion>
</div>