:host {
    padding: 1rem;
    z-index: 901;
}
pre {
    background-color: black;
    color: chartreuse;
    font-size: 0.7rem;
    padding-left: 1rem;
    height: 60vh;
    overflow-y: scroll;
    word-break: break-all;
    border-radius: 0.5rem;
}
.buttons-log {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
